body{
    padding: 0;
    margin: 0;
    background-color: burlywood;
    font-family: 'Courier New', Courier, monospace;
}

h2{
    color: brown;
}

h3{
    color: dimgray;
}

footer{
    color: wheat;
    background-color: dimgray;
    font-weight: bold;
    padding: 20px;
    text-align: center;
}

nav a{
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    color: dimgray;
}

nav a:hover{
    font-weight: bold;
}

.biodata{
    text-align: center;
}

.logo{
    width: 70px;
    max-height: 90px;
    position: fixed;
    align-items: flex-start;
    top: 0;
    left: 20px;
}

.image-content{
    width: 50%;
    max-height: 400px;
}

.biodata img{
    width: 150px;
    border-radius: 5px;
    border-style: double;
}

.box{
    box-shadow: 0 4px 8px 0 black;
    border-radius: 0px 20px 20px 20px;
    padding: 20px;
    margin-top: 10px;
}

header{
    background-color: dimgray;
    text-align: center;
    color: wheat;
    font-size: 20px;
    padding: 20px 0;
}

nav{
    background-color: wheat;
    padding: 5px 0;
    position: fixed;
    top: 0;
    width: 100%;
}

nav li{
    display: inline;
    margin-left: 0%;
}

.image-beranda{
    width: 400px;
    max-height: 500px;
    position: relative;
    left: 450px;
}

main{
    padding: 20px;
    overflow: auto;
    width: 100%;
    height: 100vh;
}

aside{
    float: left;
    width: 25%;
    box-shadow: 0 4px 8px 0 black;
    border-radius: 0px 20px 20px 20px;
    background-color: wheat;
    margin-top: 10px;
}

#content {
    float: right;
    width: 74%;
 }

.box-beranda{
    box-shadow: 0 4px 8px 0 black;
    border-radius: 0px 20px 20px 20px;
    padding: 20px;
    margin-top: 10px;
}

.hubungi img{
    width: 50px;
    height: 45px;

}

.hubungi{
    text-align: center;
}

figure a:hover{
    font-weight: bold;
}

figure a{
    font-size: 15px;
    text-decoration: none;
    font-weight: 500;
    color: dimgray;
}

@media screen and (max-width: 1000px){
    #content,
    aside {
        width: 100%;
        padding: 0;
    }
}

.judul{
    font-size: 20px;
    padding: 60px;
    background-color: dimgray;
    text-align: center;
    color: wheat;
}